.div {
  display: block;
  align-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.txt-danger {
  color: red;
  font-size: medium;
}

.txt-success {
  color: green;
  font-size: medium;
}

.fontSize{
  font-size: 25px;;
}

