<h1>Welcome to</h1>
<p>{{title | lowercase}}</p>
<p>{{title | uppercase}}</p>
<p>{{title | titlecase}}</p>

<div *ngIf="isValid; then productForPurchase; else productForSeller"></div>

<ng-template #productForSeller>
  <p>This Product can be shown in this section</p>
</ng-template>

<ng-template #productForPurchase
  ><p>This Product can be hidden in this section</p>
</ng-template>

<div [ngSwitch]="Status">
  <h1 *ngSwitchCase="'Success'">success</h1>
  <h1 *ngSwitchCase="'Failed'">Failed</h1>
  <h1 *ngSwitchCase="'Error'">error</h1>
  <h1 *ngSwitchCase="'Info'">info</h1>
</div>

<input type="text" title="check status" [(ngModel)]="Num" />
<div [ngSwitch]="Num">
  <h1 *ngSwitchCase="'1'">success</h1>
  <h1 *ngSwitchCase="'2'">Failed</h1>
  <h1 *ngSwitchCase="'3'">error</h1>
  <h1 *ngSwitchCase="'4'">info</h1>
</div>


<!-- ng for -->
<div *ngFor="let item of lst; index as i; even as e; first as f; last as l">
  <span>{{i}} - {{item}} - {{e}} - {{f}} - {{l}}</span>
</div>

<span>Create Date : {{createdDate | date:'short'}}</span><br>
<span>Long Date{{createdDate | date:'long'}}</span><br>

<span>Price :  {{price | currency:'EUR'}}</span><br>
<span>Price :  {{price | currency:'EGP'}}</span><br>

<span>percentage :  {{percentage | percent}}</span>

<span>{{message | slice:2}}</span><br>
<span>{{message | slice:2:6}}</span>

<h2>{{593.02| number:'3.2' | currency:'EUR'}}</h2>
<h2>{{593.34535| number:'3.1-2'}}</h2>
<h2>{{593.43534| number:'3.1-2'}}</h2>

<h2>{{5.6| number:'1.0-0'}}</h2>
<h2>{{5.3| number:'1.0-0'}}</h2>

<h2>{{-5.6| number:'1.0-0'}}</h2>
<h2>{{-5.3| number:'1.0-0'}}</h2>

<h2>{{file | filesize:'GB'}} </h2>

<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>age</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; even as e">
      <td [ngStyle]="{background:e?'gray':'yellow'}">{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
    </tr>
  </tbody>
</table>



















