<div class="container-fluid">
  <form [formGroup]="registerForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input
        title="name"
        formControlName="name"
        type="text"
        class="form-control"
        id="name"
        aria-describedby="namehelp"/>

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
       title="password"
        type="password"
        class="form-control"
        id="password1"
        formControlName="password"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Confirm Password</label
      >
      <input
        type="password"
        formControlName="confirmpassword"
        class="form-control"
        id="ConfirmPassword"
        title="Confirm"
      />
    </div>

    <div formGroupName="address">

           <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Country</label>
      <input
        title="country"
        formControlName="country"
        type="text"
        class="form-control"
        id="Country"
        aria-describedby="countryHelp"
      />
    </div>

     <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">State</label>
      <input
        title="state"
        formControlName="state"
        type="text"
        class="form-control"
        id="state"
        aria-describedby="emailHelp"/>
    </div>
    </div>



    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" formControlName="checkval">
      Submit
    </button>

    <p>{{registerForm.value | json}}</p>
  </form>
</div>
